* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "EB Garamond", serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-heading {
  margin-bottom: 6rem;
  font-size: 4rem;
  color: #495c7a;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  border-bottom: 0.2rem solid #495c7a;
  text-shadow: 0.2rem 0.2rem 0.3rem #495c7a;
}

.section-1 {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to top right,
    rgba(180, 190, 210, 0.3),
    rgba(255, 200, 170, 0.2),
    rgba(255, 255, 255, 0.2),
    rgba(200, 225, 240, 0.3)
  );
  background-size: cover;
}

.section-1-heading {
  margin-bottom: 5rem;
  padding: 0 3rem 0.5rem 3rem;
  font-size: 7rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: #ffc8aa;
  letter-spacing: 0.5rem;
  border-bottom: 0.3rem solid #fff;
  text-shadow: 0.2rem 0.2rem 1rem #b36d4f;
  transform: skew(-10deg);
}

.person-img {
  padding: 0.5rem;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  object-fit: cover;
  border: 0.4rem solid #495c7a;
  opacity: 0.9;
  background-color: #ffffff;
}

.personal-name {
  margin: 5rem 0;
  padding: 0.5rem 3rem;
  font-size: 4.5rem;
  color: #ffffff;
  background-color: #ff9a6f;
  border-bottom: 0.3rem solid #ffffff;
  letter-spacing: 0.5rem;
  transform: skew(-10deg);
}

.section-1-btn {
  padding: 0.5rem 1rem;
  font-size: 3rem;
  background-color: #495c7a;
  color: #ffffff;
  text-transform: uppercase;
  border: 0.3rem solid #ffffff;
  letter-spacing: 0.3rem;
  transform: skew(-10deg);
}

.navbar {
  width: 100%;
  height: 4rem;
  background-color: #495c7a;
  position: absolute;
  z-index: 300;
}

.sticky {
  position: fixed;
  top: 0;
}

.navbar-link {
  position: relative;
  margin: 0 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  transition: color 0.2s;
}

.change.navbar-link {
  color: #eef;
}

.navbar-link:hover {
  color: #f7b294;
}

.navbar-link::before {
  content: "";
  position: absolute;
  right: -4%;
  bottom: -0.3rem;
  width: 0;
  height: 0.2rem;
  background-color: #fff;
  transition: width 0.2s;
}

.change.navbar-link::before {
  width: 120%;
}

.navbar-link:hover::before {
  width: 110%;
}

.section-2-0 {
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 6rem 1.4rem 3rem 1.4rem;
  background: linear-gradient(
    to top right,
    rgba(180, 190, 210, 0.3),
    rgba(255, 200, 170, 0.2),
    rgba(255, 255, 255, 0.2),
    rgba(200, 225, 240, 0.3)
  );
  border-bottom: 0.4rem solid #495c7a6c;
  border-radius: 0.3rem;
}

.section-heading-2-0 {
  margin-bottom: 4rem;
  font-size: 4rem;
  color: #495c7a;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  border-bottom: 0.2rem solid #495c7a;
  text-shadow: 0.2rem 0.2rem 0.3rem #495c7a;
}

.about-text-wrapper {
  width: 90%;
  padding: 0 0.5rem 1rem 0;
  text-align: justify;
  font-size: 2rem;
}

/*list decoration style via :before*/

.about-text-wrapper ul {
  padding-left: 1.5rem;
}

.about-text-wrapper ul li {
  position: relative;
  margin-bottom: 1rem;
}

.about-text-wrapper ul li::before {
  content: "●";
  color: #495c7a;
  position: absolute;
  left: -1.4rem;
  top: 1rem;
  font-size: 1.5rem;
  line-height: 1rem;
}

/*list decoration style via :before end*/

.about-text-wrapper h4 {
  font-weight: 600;
  margin-bottom: 0.4rem;
}

/* .about-text-wrapper a {
  color: #000;
} */

.courses-list {
  margin-bottom: 2rem;
}

.courses-list-item {
  padding-left: 0.4rem;
}

.courses-list-item a,
.about-text-wrapper a {
  color: #000;
  transition: all 300ms ease;
}

.courses-list-item a:hover,
.about-text-wrapper a:hover {
  color: #2b4061;
}

.about {
  margin-bottom: 1.4rem;
}

.skills-about {
  font-weight: 500;
}

.yellow-part {
  color: #ffd700;
  font-weight: 500;
}

.blue-part {
  color: #0057b8;
  font-weight: 500;
}

/*section-2*/
.section-2 {
  width: 100%;
  height: 100%;
  padding: 10rem 0 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.progress-bars-wrapper {
  margin-bottom: 4rem;
}

.progress-bar {
  margin: 1.5rem 0;
  position: relative;
  width: 60rem;
  height: 3rem;
  background-color: #ff9a6f;
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem 0.3rem #5e3f3294;
}

.progress-text {
  position: absolute;
  left: 1rem;
  font-size: 1.6rem;
  color: #ffffff;
}

.progress-text span {
  margin: 0 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.progress-percent {
  width: 0%;
  height: 100%;
  background-color: #83564394;
  border-radius: 0.3rem;
  transition: width 0.5s 0.5s ease-in-out;
}

.services {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.service {
  text-align: center;
}

.service:first-child,
.service:last-child {
  align-self: flex-start;
}

.service i {
  margin-bottom: 2rem;
  font-size: 10rem;
  color: #888;
  text-shadow: 0.1rem 0.1rem 0.3rem #555;
}

.service h2 {
  width: 25rem;
  font-size: 2rem;
  color: #fff;
  background-color: #495c7a;
  border-radius: 0.3rem;
  letter-spacing: 0.2rem;
  transform: skew(-10deg);
  box-shadow: 0.2rem 0.2rem 0.3rem #495c7a;
}

.section-3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0;
  background: linear-gradient(
    to top right,
    rgba(180, 190, 210, 0.3),
    rgba(255, 200, 170, 0.2),
    rgba(255, 255, 255, 0.2),
    rgba(200, 225, 240, 0.3)
  );
}

.projects-wrapper {
  width: 80%;
  flex-wrap: wrap;
}

.project-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: #cad6eb;
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem 0.3rem #495c7a;
  overflow: hidden;
  transition: box-shadow 0.5s;
}

.project-item:hover {
  box-shadow: 1rem 1rem 1rem #ca927b;
}

.project-text {
  position: absolute;
  text-align: center;
  letter-spacing: 0.1rem;
  top: -10rem;
  transition: top 0.3s;
  z-index: 10;
}

.project-item:hover .project-text {
  top: 5rem;
  transition: top 0.3s 0.3s;
}

.project-name {
  font-size: 3rem;
  font-weight: 700;
  color: #495c7a;
}

.project-techs {
  font-size: 1.6rem;
  font-weight: 600;
  color: #5d80bd;
  text-transform: uppercase;
}

.project-img {
  width: 40rem;
  max-width: 40rem;
  min-width: 40rem;
  height: 24rem;
  max-height: 24rem;
  transition: opacity 0.3s;
  object-fit: cover;
}

.project-item:hover .project-img {
  opacity: 0.1;
}

.project-link {
  position: absolute;
  font-size: 2rem;
  font-weight: 500;
  color: #eef;
  letter-spacing: 0.1rem;
  border: 0.1rem solid #495c7a;
  border-radius: 0.3rem;
  padding: 0.1rem 0.4rem 0.2rem 0.1rem;
  background-color: #495c7a;
  bottom: -5rem;
  transition: bottom 0.3s;
}

.project-item:hover .project-link {
  bottom: 5rem;
  transition: bottom 0.3s 0.3s;
}

.section-4 {
  width: 100%;
  height: 70vh;
  background-color: #495c7a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.section-4-heading {
  color: #eef;
  box-shadow: none;
  border-color: #fff;
  margin-bottom: 4rem;
}

.contact-form {
  width: 50rem;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  background-color: #eef;
  font-size: 1.5rem;
  border: 0.2rem solid #ffc8aa;
  color: #495c7a;
  border-radius: 0.3rem;
}

.contact-form textarea {
  height: 10rem;
  min-height: 15rem;
  min-width: 100%;
}

.contact-form .contact-form-btn {
  background-color: #ffc8aa;
  text-transform: uppercase;
  letter-spacing: 1rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
}

.section-5 {
  width: 100%;
  height: 30vh;
  background-color: #374864;
  flex-direction: column;
}

.social-media {
  margin-bottom: 5rem;
}

.social-media-link {
  display: inline-block;
  margin: 0 2rem;
  padding: 0.7rem;
  background-color: #ffc8aa;
  border-radius: 0.3rem;
  color: #374864;
}

.social-media-link i {
  font-size: 3rem;
}

.copyright {
  color: #eef;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  text-align: center;
}

.copyright a {
  color: #eef;
}

.copyright a:hover {
  color: #b36d4f;
}

@media (max-width: 1200px) {
  .services {
    height: auto;
    flex-wrap: wrap;
  }
  .service {
    margin: 3rem 2rem;
  }
  .section-4 {
    height: 80vh;
  }
}

@media (max-width: 800px) {
  .section-1-heading {
    font-size: 4rem;
  }

  .progress-bar {
    width: 50rem;
  }
}

@media (max-width: 600px) {
  .section-1-heading {
    font-size: 3rem;
  }

  .navbar-link {
    margin: 0 2rem;
    font-size: 1.5rem;
  }

  .section-2 {
    padding: 10rem;
  }

  .section-heading-2-0 {
    font-size: 3rem;
  }

  .section-2-heading {
    margin-bottom: 10rem;
  }

  .progress-bar {
    width: 45rem;
  }

  .project-img {
    width: 100%;
  }

  .contact-form {
    width: 40rem;
  }

  .copyright {
    width: 70%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 45%;
  }

  .section-1-heading,
  .personal-name {
    font-size: 2.5rem;
  }

  .navbar-link {
    margin: 0 1.5rem;
  }

  .section-2-heading {
    text-align: center;
  }

  .progress-bar {
    width: 40rem;
  }
}

/* scroll-bar */
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #495c7a6c;
}

/*scroll-bar end */
